<%- include('../partials/header') %>
<h1> <%= title %> </h1>



<h2>Update Todo</h2>
<form action="/todos/" method="PUT" autocomplete="off">
  <input type="text" name="todo" value="<%=todo.todo%>" >

  <input type="submit" onclick="history.back()" value="Save Todo">
</form>

<%- include('../partials/footer') %>
